<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de reservas</title>
</head>
<body>
    <form action="/guardarreserva" method="post">
        <label>Id:</label>
        <input type="text" readonly>
        <label>Fecha:</label>
        <input type="text" name="time_stamp">
        <label>Usuario:</label>
        <input type="text" name="usuario">
        <label>Pase:</label>
        <input type="text" name="pase">
        <button type="submit">Guardar</button>
    </form>
    <br>

    <form action="/actualizarreserva" method="post">
        <label>Id:</label>
        <input type="text" id="idreservaAct" name="idreserva" readonly>
        <label>Fecha:</label>
        <input type="text" id="time_stampAct" name="time_stamp">
        <label>Usuario:</label>
        <input type="text" id="usuarioAct" name="usuario">
        <label>Pase:</label>
        <input type="text" id="paseAct" name="pase">
        <button type="submit">Actualizar</button>
    </form>
    <br>

    <h2>Reservas</h2>
    <table id="tabla_reserva">
        <tr>
            <th>Id</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Pase</th>
        </tr>
        <tbody>
            <tr th:each="reserva: ${reservasParaFront}">
                <td th:text="${reserva.idreserva}"></td>
                <td th:text="${reserva.time_stamp}"></td>
                <td th:text="${reserva.usuario}"></td>
                <td th:text="${reserva.pase}"></td>
                <td><input type="submit" value="Editar" onclick="editarReserva()"></td>
                <td><input type="submit" value="Eliminar" onclick="eliminarReserva()"></td>
            </tr>
        </tbody>
    </table>
</body>
<script src="reservasActualizar.js"></script>
</html>