<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de usuarios</title>
</head>
<body>
    <form action="/guardarusuario" method="post">
        <label>Id:</label>
        <input type="text" readonly>
        <label>Email:</label>
        <input type="text" name="email">
        <label>Contraseña:</label>
        <input type="text" name="contrasena">
        <label>Nombre:</label>
        <input type="text" name="nombre">
        <label>Primer apellido:</label>
        <input type="text" name="apellido1">
        <label>Segundo apellido:</label>
        <input type="text" name="apellido2">
        <label>Teléfono:</label>
        <input type="text" name="telefono">
        <label>Rol:</label>
        <input type="text" name="rol">
        <label>Teatro:</label>
        <input type="text" name="teatro">
        <button type="submit">Guardar</button>
    </form>
    <br>

    <form action="/actualizarusuario" method="post">
        <label>Id:</label>
        <input type="text" id="idusuarioAct" name="idusuario" readonly>
        <label>Email:</label>
        <input type="text" id="emailAct" name="email">
        <label>Contraseña:</label>
        <input type="text" id="contrasenaAct" name="contrasena">
        <label>Nombre:</label>
        <input type="text" id="nombreAct" name="nombre">
        <label>Primer apellido:</label>
        <input type="text" id="apellido1Act" name="apellido1">
        <label>Segundo apellido:</label>
        <input type="text" id="apellido2Act" name="apellido2">
        <label>Teléfono:</label>
        <input type="text" id="telefonoAct" name="telefono">
        <label>Rol:</label>
        <input type="text" id="rolAct" name="rol">
        <label>Teatro:</label>
        <input type="text" id="teatroAct" name="teatro">
        <button type="submit">Actualizar</button>
    </form>
    <br>

    <form action="/eliminarusuario" method="post">
        <label>Id:</label>
        <input type="text" id="idusuarioAct" name="idusuario" readonly>
        <label>Email:</label>
        <input type="text" id="emailElm">
        <label>Contraseña:</label>
        <input type="text" id="contrasenaElm">
        <label>Nombre:</label>
        <input type="text" id="nombreElm">
        <label>Primer apellido:</label>
        <input type="text" id="apellido1Elm">
        <label>Segundo apellido:</label>
        <input type="text" id="apellido2Elm">
        <label>Teléfono:</label>
        <input type="text" id="telefonoElm">
        <label>Rol:</label>
        <input type="text" id="rolElm">
        <label>Teatro:</label>
        <input type="text" id="teatroElm">
        <button type="submit">Eliminar</button>
    </form>
    <br>

    <h2>Usuarios</h2>
    <table id="tabla_usuario">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Teatro</th>
        </tr>
        <tbody>
            <tr th:each="usuario: ${usuariosParaFRont}">
                <td th:text="${usuario.idusuario}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.contrasena}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido1}"></td>
                <td th:text="${usuario.apellido2}"></td>
                <td th:text="${usuario.telefono}"></td>
                <td th:text="${usuario.rol}"></td>
                <td th:text="${usuario.teatro}"></td>
                <td><input type="submit" value="Editar" onclick="editarUsuario()"></td>
                <td><input type="submit" value="Eliminar" onclick="eliminarUsuario()"></td>
            </tr>
        </tbody>
    </table>
</body>
<script src="usuariosActualizar.js"></script>
</html>