<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template de usuarios</title>
</head>
<body>
    <form action="/usuarios" method="post">
        <label>Id:</label>
        <input type="text" readonly>
        <label>Email:</label>
        <input type="text" name="email">
        <label>Contraseña:</label>
        <input type="text" name="contrasena">
        <label>Nombre:</label>
        <input type="text" name="nombre">
        <label>Primer apellido:</label>
        <input type="text" name="apellido1">
        <label>Segundo apellido:</label>
        <input type="text" name="apellido2">
        <label>Teléfono:</label>
        <input type="text" name="telefono">
        <label>Rol:</label>
        <input type="text" name="rol">
        <label>Teatro:</label>
        <input type="text" name="teatro">
        <button type="submit">Guardar</button>
    </form>
    <br>

    <form action="" method="post">
        <label>Id:</label>
        <input type="text" id="idusuario" readonly>
        <label>Email:</label>
        <input type="text" id="email" name="email">
        <label>Contraseña:</label>
        <input type="text" id="contrasena" name="contrasena">
        <label>Nombre:</label>
        <input type="text" id="nombre" name="nombre">
        <label>Primer apellido:</label>
        <input type="text" id="apellido1" name="apellido1">
        <label>Segundo apellido:</label>
        <input type="text" id="apellido2" name="apellido2">
        <label>Teléfono:</label>
        <input type="text" id="telefono" name="telefono">
        <label>Rol:</label>
        <input type="text" id="rol" name="rol">
        <label>Teatro:</label>
        <input type="text" id="teatro" name="teatro">
        <button type="submit">Actualizar</button>
    </form>
    <br>

    <h2>Usuarios</h2>
    <table id="tabla_usuario">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Nombre</th>
            <th>Primer apellido</th>
            <th>Segundo apellido</th>
            <th>Teléfono</th>
            <th>Rol</th>
            <th>Teatro</th>
        </tr>
        <tbody>
            <tr th:each="usuario: ${usuariosParaFRont}">
                <td th:text="${usuario.idusuario}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.contrasena}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido1}"></td>
                <td th:text="${usuario.apellido2}"></td>
                <td th:text="${usuario.telefono}"></td>
                <td th:text="${usuario.rol}"></td>
                <td th:text="${usuario.teatro}"></td>
                <td><input type="submit" value="Editar" onclick="seleccionarModificarUsuario()"></td>
                <td><input type="submit" value="Eliminar"></td>
            </tr>
        </tbody>
    </table>
</body>
<script src="usuariosActualizar.js"></script>
</html>